<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>BCMD AGM Registration Form Response</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>{{ form.submitted_date }}</h1>
            <small>Report ID: {{ form.uuid }}</small>
            <em>Please print this off for your confirmation.</em>
        </div>

        <div class="row">
            <h2>Primary person</h2>
            <div class="col-sm-12">
                <p>Branch Name: {{ form.branch_name }}</p>
                <p><em>{{ form.participant_name }}</em> is registered as {{ form.delegate_position }}, and is
                    {% if form.is_delegate != "Yes" %} <strong>not</strong>
                    {% endif %} the voting delegate.
                </p>
                <p>Contact email and phone number:
                <pre>{{ form.participant_email }} / {{ form.participant_phone }}</pre>
                </p>

            </div>
        </div>
        <div class="row">
            <h2>People Attending:</h2>
            <div class="col-sm-12">
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Dietary Restrictions</th>
                    </tr>
                    {% for person in people %}
                    <tr>
                        <td>{{ person['name'] }}</td>
                        <td>{{ person['position'] }}</td>
                        <td>{{ person['allergies'] }}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        <div class="row">
            <h2>Booking Info</h2>
            <div class="col-sm-12">
                <p>Do you want BCMD to book your rooms?
                <pre>{{ form.book_hotel }}</pre>
                </p>
                {% if form.book_hotel == "Yes" %}
                <p>Are you OK with sharing a room to save costs?
                <pre>{{ form.share_room }}</pre>
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h2>Costs and billings</h2>
            <div class="col-sm-12">
                {% if form.amount_payable is defined %}
                <p>Your AGM registration fees come to a total of <strong>${{ form.amount_payable }}</strong>.</p>
                <p>Early Registration Rates apply on or before September 11th 2023 when the registration form is
                    completed and the cheque has been received.</p>
                <p>Please make cheques payable to <strong>Navy League of Canada BC Mainland Division</strong>.
                    Please include your Branch Name and "AGM" in the Memo field.</p>
                <p>Mail your cheques to:</p>
                <p>&nbsp;&nbsp;Bev Lovell <br />
                    &nbsp;&nbsp;President - BC Mainland Division <br />
                    &nbsp;&nbsp;PO Box 24024 <br />
                    &nbsp;&nbsp;Stn RPO Town Centre <br />
                    &nbsp;&nbsp;Kelowna, BC <br />
                    &nbsp;&nbsp;V1Y 9H2</p>
                {% else %}
                    <p>You reportedly do not have fees to pay for the AGM! Hoorah!</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h2>Additional Comments:</h2>
            {{ form.additional_comments }}
        </div>
        <div class="row">
            <h2>AGM Infomration</h2>
            <div class="col-sm-12">
                A reminder that we are keeping all AGM information available online at <a
                    href="https://agm.bcmainland.ca">AGM.BCMainland.ca</a>. We highly suggest you bookmark this page for
                your records, and have it available on your mobile device during the AGM. You can also contact us via
                <a href="mailto:agm@bcmainland.ca">email</a> with any specific questions or concerns.
            </div>
        </div>
    </div>

</body>

</html>