<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>BC(9) Form Response</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>{{ form.submitted_date }}</h1>
            <small>Report ID: {{ form.uuid }}</small>
        </div>

        <div class="row">
            <h2>General Branch Information</h2>
            <div class="col-sm-12">
                <p>Branch Name and Mailing Address:</p>
                <p>{{ form.branch_name }}<br />
                    {{ form.branch_mailing_address }}</p>
                <p>General Meeting location:<br />
                    {{ form.branch_general_meetings_location }}</p>
                <p>General Meeting Time: {{ form.bgm_start_time }} to {{ form.bgm_end_time }}</p>

            </div>
        </div>
        <div class="row">
            <h2>Membership</h2>
            <div class="col-sm-12">
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Phone Number</th>
                        <th>Mailing Address</th>
                    </tr>
                    {% for person in people %}
                    <tr>
                        <td>{{ person['name'] }}</td>
                        <td>{{ person['email'] }}</td>
                        <td>{{ person['position'] }}</td>
                        <td>{{ person['telephone'] }}</td>
                        <td>{{ person['address'] }}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        <div class="row">
            <h2>Compliance Data</h2>
            <div class="col-sm-12">
                <p>Last AGM Date: {{ form.last_agm_date }}</p>
                <p>Financial Year End Date: {{ form.financial_year_end }}</p>
                <p>Have you submitted your financials? {{ form.submitted_financials }}</p>
                <p>Do you have an NLCC Corps? {{ form.nlcc_corps }}</p>
                {% if form.nlcc_corps == "yes" %}
                <h3>NLCC Corp Info:</h3>
                <p>Name and Number: {{ form.nlcc_corps_and_number }}</p>
                <p>Commanding Officer's rank and name: {{ form.nlcc_co }}</p>
                <p>Info in Roll Call: {{ form.nlcc_in_rollcall }}</p>
                <h4>Inspection Dates</h4>
                <p>Do you want to fill out the Inspection Date Request Form now? (Eventually link to the BC(51) form)
                </p>
                {% endif %}
                <p>Do you have an RCSCC Corps? {{ form.rcscc_corps }}</p>
                {% if form.rcscc_corps == "yes" %}
                <h3>RCSCC Corp Info:</h3>
                <p>Name and Number: {{ form.rcscc_corps_and_number }}</p>
                <p>Commanding Officer's rank and name: {{ form.rcscc_co }}</p>
                <h4>Inspection Dates</h4>
                <p>Do you want to fill out the Inspection Date Request Form now? (Eventually link to the BC(51) form)
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h2>Additional Comments:</h2>
            {{ form.additional_comments }}
        </div>
    </div>

</body>

</html>
